.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;
    .errorMessage{
        color: orangered;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0px 10px 15px;
        font-size: 12px;
    }
    
}
.title {
    margin: 10px 0;
}